NODE_ENV=development
PORT=3000

RELIA_PROMPT_LLM_CONFIG_JSON='{"openai":{"apiKey":"openai_dummy_key"},"bedrock":{"accessKeyId":"bedrock_dummy_access_key_id","secretAccessKey":"bedrock_dummy_secret_access_key","sessionToken":"bedrock_dummy_session_token","region":"us-east-1"},"cerebras":{"apiKey":"cerebras_dummy_key"},"deepseek":{"apiKey":"deepseek_dummy_key"},"gemini":{"apiKey":"gemini_dummy_key"},"groq":{"apiKey":"groq_dummy_key"},"openrouter":{"apiKey":"openrouter_dummy_key"}}'